@import "../variables";

.Container {
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    background: url("/img/bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background: linear-gradient(map_get($colors, primary), map_get($colors, danger));
    z-index: -1;
    opacity: .6;
  }

  #title {
    margin-top: 20%;
  }

  #enter {
    position: relative;
    overflow: hidden;
    transition: 300ms;

    //&:before {
    //  content: '';
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  height: 0;
    //  width: 0;
    //  border-radius: 50em;
    //  background: rgba(255,255,255,.2);
    //  opacity: 0;
    //  transition: 500ms;
    //}

    &:hover {
      background: rebeccapurple;
      box-shadow: 0 0 50px rgba(255,255,255,.3);
      transition: 300ms;
      overflow: hidden;

      //&:before {
      //  content: '';
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //  height: 80px;
      //  width: 80px;
      //  opacity: 1;
      //  transition: 500ms;
      //}
    }
  }

  @media screen and (max-width: 767px) {
    #title {
      margin-top: 40%;
    }
  }
}
